ul li:nth-child(odd) {
    background-color: rebeccapurple;
}

ul li:nth-child(even) {
    background-color: darkturquoise;
}

ul li:nth-child(3n) {
    background-color: darkolivegreen;
}

ul li:nth-child(3n+10) {
    background-color: darkred;
}

p:nth-child(odd) {
    background-color: rebeccapurple;
}

p:nth-child(even) {
    background-color: darkturquoise;
}

p:nth-child(3n) {
    background-color: darkolivegreen;
}

p:nth-child(3n+10) {
    background-color: darkred;
}