* {
    margin: 0;
    padding: 0;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid {
    padding: 15px;
}

.grid .col {
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);  /*  ABCDEF123456789 */
    color: #fff;
}