* {
    margin: 0;
    padding: 0;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid {
    padding: 15px;
}

.grid .col {
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content {
    width: 100%;
    height: 100%;
    background: red;
}

@media all and (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
}

@media (main-width: 568px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
    }
}

@media (main-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 50%;
    }
}

@media (main-width: 1200px) {
    .grid .col {
        width: 50%;
    }
}